@media (min-width:1000px) {
    .mobile{
        display: none;
    }
}

.head{
    width: 100%;
    display: flex;
    padding-left: 8%;
    padding-right: 8%;
    background-color: white;
}

.head-title{
    width: 40%;
    font-size: 180%;
    font-weight: bold;
    text-decoration: none;
}

.head-nav{
    width: 60%;
    font-size: 120%;
    font-weight: bold;
    text-align: end;
    padding-top: 3%;
}

.head-nav ul{
    display: flex;
}

.head-nav ul li{
    width: 12%;
    display: inline;
}


.head-nav ul li a{
    text-decoration: none;
}
.next{
    width: 90%;
    background-image: url(images/businessman-working-laptop_23-2148634806.jpg);
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-top: 5%;
    margin-top: 0%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    line-height: 250%;
}

.next h6{
    font-size: 120%;
    color: red;
}

.next h2{
    font-size: 350%;
    color: white;
    font-weight: bolder;
}

.next p{
    font-size: 100%;
    color: white;
}

.next a{
    color: white;
    text-decoration: none;
    border: 1px black solid;
    border-radius: 25px;
    padding: 3%;
    font-size: 90%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 3%;
    background-color: red;
}



@media (max-width:768px) {
    .desktop{
        display: none;
    }



    .last{
        width: 100%;
        background-image: url(images/businessman-working-laptop_23-2148634806.jpg);
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
        padding-top: 20%;
        margin-top: 0%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        line-height: 400%;
      }
      
      .last h6{
        font-size: 120%;
        color: red;
      }
      
      .last h2{
        font-size: 250%;
        color: white;
        font-weight: bold;
        line-height: 120%;
      }
      
      .last p{
        font-size: 100%;
        line-height: 150%;
        color: white;
      }
      
      .last a{
        color: white;
        text-decoration: none;
        border: 1px black solid;
        border-radius: 25px;
        padding: 3%;
        font-size: 90%;
        padding-top: 1%;
        padding-bottom: 1%;
        margin-top: 3%;
        background-color: red;
      } 
}